<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC  "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="execution"
        class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>awbench.method.IExecution</value>
        </property>
        <property name="target">
            <ref local="executionImpl"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>theMethodExecutionAroundAdvisor</value>
                <value>theMethodExecutionAroundSJPAdvisor</value>
                <value>theMethodExecutionAroundJPAdvisor</value>
                <value>theMethodExecutionBeforeAdvisor</value>
                <value>theMethodExecutionBeforeSJPAdvisor</value>
                <value>theMethodExecutionBeforeJPAdvisor</value>
                <value>theMethodExecutionBeforeWithPrimitiveArgsAdvisor</value>
                <value>theMethodExecutionBeforeWithWrappedArgsAdvisor</value>
                <value>theMethodExecutionBeforeWithArgsAndTargetAdvisor</value>
                <value>theMethodExecutionAfterAdvisor</value>
                <value>theMethodExecutionAfterReturningAdvisor</value>
                <value>theMethodExecutionAfterThrowingAdvisor</value>
                <value>theMethodExecutionGetTargetAndArgsAroundAdvisor1</value>
                <value>theMethodExecutionGetTargetAndArgsAroundAdvisor2</value>
            </list>
        </property>
    </bean>

    <bean id="executionImpl" class="awbench.method.Execution"/>

    <bean id="theMethodExecutionAroundAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionAroundAdvice"/>
        </property>
        <property name="patterns">
            <list>
                <value>.*around_</value>
            </list>
        </property>
    </bean>

    <bean id="theMethodExecutionAroundSJPAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionAroundSJPAdvice"/>
        </property>
        <property name="patterns">
            <list>
                <value>.*aroundSJP</value>
            </list>
        </property>
    </bean>

    <bean id="theMethodExecutionAroundJPAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionAroundJPAdvice"/>
        </property>
        <property name="patterns">
            <list>
                <value>.*aroundJP</value>
            </list>
        </property>
    </bean>

    <bean id="theMethodExecutionBeforeAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionBeforeAdvice"/>
        </property>
        <property name="patterns">
            <list>
                <value>.*before</value>
                <value>.*beforeAfter</value>
            </list>
        </property>
    </bean>

    <bean id="theMethodExecutionBeforeSJPAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionBeforeSJPAdvice"/>
        </property>
        <property name="patterns">
            <list>
                <value>.*beforeSJP</value>
            </list>
        </property>
    </bean>

    <bean id="theMethodExecutionBeforeJPAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionBeforeJPAdvice"/>
        </property>
        <property name="patterns">
            <list>
                <value>.*beforeJP</value>
            </list>
        </property>
    </bean>

    <bean id="theMethodExecutionBeforeWithPrimitiveArgsAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionBeforeWithPrimitiveArgsAdvice"/>
        </property>
        <property name="pattern">
            <value>.*beforeWithPrimitiveArgs</value>
        </property>
    </bean>

    <bean id="theMethodExecutionBeforeWithWrappedArgsAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionBeforeWithWrappedArgsAdvice"/>
        </property>
        <property name="pattern">
            <value>.*beforeWithWrappedArgs</value>
        </property>
    </bean>

    <bean id="theMethodExecutionBeforeWithArgsAndTargetAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionBeforeWithArgsAndTargetAdvice"/>
        </property>
        <property name="pattern">
            <value>.*beforeWithArgsAndTarget</value>
        </property>
    </bean>

    <bean id="theMethodExecutionAfterAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionAfterAdvice"/>
        </property>
        <property name="pattern">
            <value>.*After</value>
        </property>
    </bean>

    <bean id="theMethodExecutionAfterReturningAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionAfterReturningAdvice"/>
        </property>
        <property name="pattern">
            <value>.*afterReturningString</value>
        </property>
    </bean>

    <bean id="theMethodExecutionAfterThrowingAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionAfterThrowingAdvice"/>
        </property>
        <property name="pattern">
            <value>.*afterThrowingRTE_IGNORE</value>
        </property>
    </bean>

    <bean id="theMethodExecutionGetTargetAndArgsAroundAdvisor1"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionGetTargetAndArgsAroundAdvice"/>
        </property>
        <property name="pattern">
            <value>.*aroundStackedWithArgAndTarget.*</value>
        </property>
    </bean>

    <bean id="theMethodExecutionGetTargetAndArgsAroundAdvisor2"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="theMethodExecutionGetTargetAndArgsAroundAdvice"/>
        </property>
        <property name="pattern">
            <value>.*aroundStackedWithArgAndTarget.*</value>
        </property>
    </bean>

    <bean id="theMethodExecutionAroundAdvice" class="awbench.spring.MethodExecutionAroundAdvice"/>
    <bean id="theMethodExecutionAroundSJPAdvice" class="awbench.spring.MethodExecutionAroundSJPAdvice"/>
    <bean id="theMethodExecutionAroundJPAdvice" class="awbench.spring.MethodExecutionAroundJPAdvice"/>
    <bean id="theMethodExecutionBeforeAdvice" class="awbench.spring.MethodExecutionBeforeAdvice"/>
    <bean id="theMethodExecutionBeforeSJPAdvice" class="awbench.spring.MethodExecutionBeforeSJPAdvice"/>
    <bean id="theMethodExecutionBeforeJPAdvice" class="awbench.spring.MethodExecutionBeforeJPAdvice"/>
    <bean id="theMethodExecutionBeforeWithPrimitiveArgsAdvice" class="awbench.spring.MethodExecutionBeforeWithPrimitiveArgsAdvice"/>
    <bean id="theMethodExecutionBeforeWithWrappedArgsAdvice" class="awbench.spring.MethodExecutionBeforeWithWrappedArgsAdvice"/>
    <bean id="theMethodExecutionBeforeWithArgsAndTargetAdvice" class="awbench.spring.MethodExecutionBeforeWithArgsAndTargetAdvice"/>
    <bean id="theMethodExecutionAfterAdvice" class="awbench.spring.MethodExecutionAfterAdvice"/>
    <bean id="theMethodExecutionAfterReturningAdvice" class="awbench.spring.MethodExecutionAfterReturningAdvice"/>
    <bean id="theMethodExecutionAfterThrowingAdvice" class="awbench.spring.MethodExecutionAfterThrowingAdvice"/>
    <bean id="theMethodExecutionGetTargetAndArgsAroundAdvice" class="awbench.spring.MethodExecutionGetTargetAndArgsAroundAdvice"/>
</beans>