<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**************************************************************************************
 * Copyright (c) Jonas Bonér, Alexandre Vasseur. All rights reserved.                 *
 * http://aspectwerkz.codehaus.org                                                    *
 *                                                                                    *
 * The software in this package is published under the terms of the LGPL license      *
 * a copy of which has been included with this distribution in the license.txt file.  *
 **************************************************************************************/
-->
<plugin
   id="org.codehaus.aspectwerkz.ide.eclipse.core"
   name="AspectWerkz Core Plug-in"
   version="1.0.0"
   provider-name="AspectWerkz"
   class="org.codehaus.aspectwerkz.ide.eclipse.core.AwCorePlugin">

   <runtime>
      <library name="aw-core.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-1.5.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/aspectwerkz-2.0beta1.jar">
         <export name="*"/>
      </library>
      <library name="lib/aspectwerkz-core-2.0beta1.jar">
         <export name="*"/>
      </library>
      <library name="lib/aspectwerkz-extensions-2.0beta1.jar">
         <export name="*"/>
      </library>
      <library name="lib/concurrent-1.3.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom4j-1.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/jrexx-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/managementapi-jrockit81.jar">
         <export name="*"/>
      </library>
      <library name="lib/piccolo-1.03.jar">
         <export name="*"/>
      </library>
      <library name="lib/qdox-1.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/trove-1.0.2.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
 <import plugin="org.eclipse.core.runtime" /> 
  <import plugin="org.eclipse.jdt.core" /> 
  <import plugin="org.eclipse.ui" /> 
  <import plugin="org.eclipse.ui.intro" /> 
  <import plugin="org.eclipse.core.resources" /> 
  <import plugin="org.eclipse.jdt" /> 
  <import plugin="org.eclipse.jdt.ui" /> 

  <import plugin="org.eclipse.ui.ide" /> 
  <import plugin="org.eclipse.ui.views" /> 
  <import plugin="org.eclipse.jface.text" /> 
  <import plugin="org.eclipse.ui.workbench.texteditor" /> 
  <import plugin="org.eclipse.ui.editors" /> 
  <import plugin="org.eclipse.ui" /> 
  <import plugin="org.eclipse.core.runtime" /> 
  <import plugin="org.eclipse.core.resources" /> 
  <import plugin="org.eclipse.jdt.core" /> 
  <import plugin="org.eclipse.jdt.ui" /> 
  <import plugin="org.eclipse.debug.core" /> 
  <import plugin="org.eclipse.jdt.debug" /> 
  <import plugin="org.eclipse.jdt.debug.ui" /> 
  <import plugin="org.eclipse.debug.ui" /> 
  <import plugin="org.eclipse.jdt.launching" /> 
  <import plugin="org.eclipse.jdt" /> 
  <import plugin="org.eclipse.ui.intro" /> 

	 </requires>
   <extension
         id="project.AwProjectNature"
         name="AspectWerkz Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectNature"/>
      </runtime>
      <builder id="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwAnnotationBuilder"/>
      <builder id="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectBuilder"/>
   </extension>
   <extension
         id="project.AwAnnotationBuilder"
         name="AspectWerkz Annotations compiler"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwAnnotationBuilder"/>
      </builder>
   </extension>
   <extension
         id="project.AwProjectBuilder"
         name="AspectWerkz weaver"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="actions.ToggleProjectNatureActionDelegateContribution">
            <visibility>
            	<and>
                  <objectState
                        value="org.eclipse.jdt.core.javanature"
                        name="nature"/>
               <not>
                  <objectState
                        value="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectNature"
                        name="nature"/>
               </not>
               </and>
            </visibility>
            <action
               enablesFor="1"
               label="Enable AspectWerkz AOP"
               class="org.codehaus.aspectwerkz.ide.eclipse.core.actions.ToggleProjectNatureActionDelegate"
               id="actions.ToggleProjectNatureActionDelegate">
            </action>
     </objectContribution>
 <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="actions.ToggleProjectNatureActionDelegateContribution">
            <visibility>
                  <objectState
                        value="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectNature"
                        name="nature"/>
            </visibility>
            
              <action
               enablesFor="1"
               label="Disable AspectWerkz AOP"
               class="org.codehaus.aspectwerkz.ide.eclipse.core.actions.ToggleProjectNatureActionDelegate"
               id="actions.ToggleProjectNatureActionDelegate">
         </action>
      </objectContribution>
   </extension>
   
   
<extension point="org.eclipse.debug.core.launchConfigurationTypes">
  <launchConfigurationType
   id="launch.LaunchConfigurationType"
   delegate="org.codehaus.aspectwerkz.ide.eclipse.core.launch.LaunchConfigurationDelegate"
   modes="run,debug"
   name="AspectWerkz Application">
   <fileExtension extension="java" default="true"/>
  </launchConfigurationType>
 </extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="launch.LaunchConfigurationType"
            class="org.codehaus.aspectwerkz.ide.eclipse.core.launch.LaunchConfigurationTabGroup"
            id="launch.LaunchConfigurationTabGroup"/>
</extension>
   <extension point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            label="Run"
            mode="run"
            image="TODO"
            bannerImage="TODO"
            id="launch.LaunchGroupRun"/>
   </extension>
   <extension point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            label="Debug"
            mode="debug"
            image="TODO"
            bannerImage="TODO"
            id="launch.LaunchGroupDebug"/>
   </extension>
 
   

</plugin>
