<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>AOSDServlet</servlet-name>
        <servlet-class>aspectwerkz.aosd.web.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AOSDServlet</servlet-name>
        <url-pattern>demo</url-pattern>
    </servlet-mapping>

</web-app>
