
FileLogin {
	com.tagish.auth.FileLogin
    required
    debug=true
    pwdFile="C:\\src\\tutorial-2004\\config\\passwd";
};

NTLogin {
	com.tagish.auth.win32.NTSystemLogin
    required
    returnNames=true
    returnSIDs=false;
};

DBLogin {
	com.tagish.auth.DBLogin
    required
    debug=true
    dbDriver="sun.jdbc.odbc.JdbcOdbcDriver"
    dbURL="jdbc:odbc:DBLogin";
};
