<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.codehaus.aspectwerkz.ide.eclipse.core"
   name="AspectWerkz Core Plug-in"
   version="2.0.1"
   provider-name="AspectWerkz"
   class="org.codehaus.aspectwerkz.ide.eclipse.core.AwCorePlugin">

   <runtime>
      <library name="aspectwerkz-eclipse.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-1.5.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/concurrent-1.3.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom4j-1.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/jrexx-1.1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/managementapi-jrockit81.jar">
         <export name="*"/>
      </library>
      <library name="lib/piccolo-1.03.jar">
         <export name="*"/>
      </library>
      <library name="lib/qdox-1.4.jar">
         <export name="*"/>
      </library>
      <library name="lib/trove-1.0.2.jar">
         <export name="*"/>
      </library>
      <library name="lib/aspectwerkz-2.0.RC3-snapshot.jar">
         <export name="*"/>
      </library>
      <library name="lib/aspectwerkz-core-2.0.RC3-snapshot.jar">
         <export name="*"/>
      </library>
      <library name="lib/aspectwerkz-jdk14-2.0.RC3-snapshot.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.ui.intro"/>
   </requires>

   <extension
         id="project.AwProjectNature"
         name="AspectWerkz Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectNature">
         </run>
      </runtime>
      <builder
            id="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwAnnotationBuilder">
      </builder>
      <builder
            id="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectBuilder">
      </builder>
   </extension>
   <extension
         id="project.AwAnnotationBuilder"
         name="AspectWerkz Annotations compiler"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwAnnotationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="project.AwProjectBuilder"
         name="AspectWerkz weaver"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="actions.ToggleProjectNatureActionDelegateContribution">
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectNature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               label="Enable AspectWerkz AOP"
               class="org.codehaus.aspectwerkz.ide.eclipse.core.actions.ToggleProjectNatureActionDelegate"
               enablesFor="1"
               id="actions.ToggleProjectNatureActionDelegate">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="actions.ToggleProjectNatureActionDelegateContribution">
         <visibility>
            <objectState
                  name="nature"
                  value="org.codehaus.aspectwerkz.ide.eclipse.core.project.AwProjectNature">
            </objectState>
         </visibility>
         <action
               label="Disable AspectWerkz AOP"
               class="org.codehaus.aspectwerkz.ide.eclipse.core.actions.ToggleProjectNatureActionDelegate"
               enablesFor="1"
               id="actions.ToggleProjectNatureActionDelegate">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="AspectWerkz Application"
            delegate="org.codehaus.aspectwerkz.ide.eclipse.core.launch.LaunchConfigurationDelegate"
            modes="run,debug"
            id="launch.LaunchConfigurationType">
         <fileExtension
               default="true"
               extension="java">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="launch.LaunchConfigurationType"
            class="org.codehaus.aspectwerkz.ide.eclipse.core.launch.LaunchConfigurationTabGroup"
            id="launch.LaunchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            label="Run"
            bannerImage="TODO"
            image="TODO"
            mode="run"
            id="launch.LaunchGroupRun">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            label="Debug"
            bannerImage="TODO"
            image="TODO"
            mode="debug"
            id="launch.LaunchGroupDebug">
      </launchGroup>
   </extension>
   <extension
         id="joinpoint"
         name="Join point"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
         name="Join point image provider"
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="org.codehaus.aspectwerkz.ide.eclipse.core.joinpoint"
            icon="icons/advice.gif"
            id="org.codehaus.aspectwerkz.ide.eclipse.core.joinpoint.imageprovider"/>
   </extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
	  <markerResolutionGenerator
	    markerType="org.codehaus.aspectwerkz.ide.eclipse.core.joinpoint"
	    class="org.codehaus.aspectwerkz.ide.eclipse.ui.JoinPointMarkerResolution">
	  </markerResolutionGenerator>
	</extension>

   

</plugin>
