transformer A {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "A";
}

transformer B {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "B";
}
order {
    A, B, A;    
}
options org.cs3.jmangler.bceltransformer.Settings {
	transformationAlgorithm=org.cs3.jmangler.bceltransformer.SimpleTransformationAlgorithm;
}
