transformer A {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "A";
}

transformer B {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "B";
}

transformer C {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "C";
}

options org.cs3.jmangler.bceltransformer.Settings {
	transformationAlgorithm=org.cs3.jmangler.bceltransformer.SimpleTransformationAlgorithm;
	verboseON=false;
	startUpMessage=false;
	checkPartialOrder=true;
	dumpClassSet=true;
	classSetSecurityLevel=1;
	maxIterations=13;
}

