transformer A {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "A";
}

transformer B {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "B";
}

transformer C {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "C";
}

transformer D {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "D";
}

transformer E {
    name = org.cs3.jmangler.samples.diagnostic.AddDiagnostic;
    params = "E";
}

order {
    A, B;
    E, A;
    C, A;
    D, C, B;
    E, D;
}
options org.cs3.jmangler.bceltransformer.Settings {
	transformationAlgorithm=org.cs3.jmangler.bceltransformer.SimpleTransformationAlgorithm;
}
